li {
    list-style-type: lower-alpha;
}
.body {
    display: block;
    background: rgb(249, 250, 196);
}
.bodyHide {
    display: none;
}
.container {
    margin-top: 10%;
}
#goHide {
    display: none;
}